
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    background-color: white;
    box-shadow: 1px 1px 6px grey;
    color: rgb(86, 86, 236);
}



